<!DOCTYPE html>
<html>

{% extends 'gestion/base.html' %}
{% block content %}
  <div class="contenido contenido2">
    <h1>¿Dónde nos encontramos?</h1>

    <p>
      El Hostal Casaverde está situado en el puertorrealeño Barrio Jarana, cerca de las famosas Casas del Ingeniero,
      ideadas y patentadas por el ilustre ingeniero Luffini en 1955,y son reconocidas actualmente como Patrimonio Histórico
      Andaluz debido a su diseño modernista y contemporáneo, que las asemeja a un iglú.
    </p>

    <p>
      A 5 minutos de Puerto Real, allí nos encontramos con una amplia variedad de actividades dónde invertir nuestro tiempo libre.
    </p>

    <p>
      Cuando llegan a nuestro local comprobarán que se encuentran ante unas instalaciones que evocan familiaridad y hogar.
      Nuestro objetivo es ofrecerles una estancia agradable donde poder disfrutar de los eventos que organizamos sin
      interferir en su descanso.
    </p>
  </div>

  <div class="contenido contenido2">
    <h3>¿Por qué nosotros?</h3>
      <ul>
        <li>Todas nuestras habitaciones tienen balcón o ventana con gran iluminación.</li>
        <li>Nos encontramos en una zona muy tranquila y silenciosa, sin tráfico. Perfecta para desconectar.</li>
        <li>Abrimos los 365 días del año.</li>
        <li>Hospedaje con desayuno incluido optativo.</li>
        <li>Las mascotas son bienvenidas.</li>
        <li>Tenemos un local acondicionado donde celebramos eventos.</li>
        <li>Un modesto restaurante con una carta muy interesante.</li>
      </ul>
  </div>

{% endblock %}

</html>